{%- for section_name, section_items in sections.items() if section_items%}
{{ section_name|emojify }} {{ section_name|title|slack_bold }}:
    {%- for section_item in section_items %}
• {{ section_item }}
    {%- endfor %}
{% endfor -%}
